.pengumuman {

}
.pengumuman .tanggal {
    background-color: #6BF5A2;
    padding: 5px;
    color: #FFFFFF;
    border-radius: 5px;
}
.pengumuman .tanggal .hari {
    font-size: 12px;
}
.pengumuman .tanggal .bulan {
    font-weight: bold;
    font-style: italic;
}
.pengumuman .tanggal .tahun {
    font-size: 18px;
}
.pengumuman .meta {
    font-size: 12px;
}